body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7684BC;
}


.header {
    display: flex;
    position: fixed;
    width: 96vw;
    align-items: center;
    justify-content: space-between;
    background-color: #5466AB;
    color: #fff;
    padding: 10px;
}

.main-logo{
    background-image: url('/img/icon/mainlogo-mobile.png');
    background-size: cover;
    width: 110px;
    height: 30px;
    padding: 5px;
    margin-left: 6px;
}

.sub-heading {
    font-size: 11px;
}

.icon {
    width: 22px;
    height: 22px;
    padding: 5px;
}

.notification-icon {
    background-image: url('/img/icon/notification-mobile.png');
    background-size: cover
}

.settings-icon {
    background-image: url('/img/icon/settings-mobile.png');
    background-size: cover
}

.news-list {
    max-height: auto;
    overflow-y: auto;
    padding: 10px;
    padding-top: 110px;
}

.news-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.news-title {
    font-weight: bold;
}

.news-summary {
    margin-top: 5px;
}

.news-providers {
    display: flex;
    margin-top: 10px;
}

.news-provider {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Example provider images */
.nyt {
    background-image: url('/img/icon/news/the_daily_mobile.jpeg');
    background-size: cover
}

.le {
    background-image: url('/img/icon/news/les-echoes-mobile.jpeg');
    background-size: cover
}

.tg {
    background-image: url('/img/icon/news/guardian-mobile.jpeg');
    background-size: cover
}

.bbc {
    background-image: url('/img/icon/news/bbc-mobile.jpeg');
    background-size: cover
}

.gn {
    background-image: url('/img/icon/news/global-news-mobile.jpeg');
    background-size: cover
}