body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7684BC;
}


.header {
    display: flex;
    position: fixed;
    width: 95vw;
    align-items: center;
    justify-content: space-between;
    background-color: #5466AB;
    color: #fff;
    padding: 10px;
}

.main-logo {
    background-image: url('/img/icon/mainlogo-mobile.png');
    background-size: cover;
    width: 110px;
    height: 30px;
    padding: 5px;
    margin-left: 6px;
}

.sub-heading {
    font-size: 11px;
}

.icon {
    width: 22px;
    height: 22px;
    padding: 5px;
}


.back-icon {
    background-image: url('/img/icon/back-icon.png');
    background-size: cover
}

.chat-icon {
    background-image: url('/img/icon/chat-mobile.png');
    background-size: cover
}

.topic-summary-container {
    padding: 10px;
    max-height: auto;
    overflow-y: auto;
    padding-top: 110px;
}

.section-heading {
    color: #fff;
}

.topic-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.topic-button-container {
    display: flex;
    flex-wrap: wrap;
}

.topic-button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.permanent-topic {
    background-color: #8B76BC;
    color: #fff;
}


.news-summary-section {

    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    min-height: 100vw;
}

.news-summary {
    margin-bottom: 10px;
}